<!-- https://www.mrbooks.com/mb#/home -->
<!-- -->
<!-- .row     y    .col-sm-1*12    -->






<div class="containered">

  <div class="row">
    <div class="col-sm-12">
      <img src="https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/438/MatrizDatos_1548772279banner-huv.jpg" alt=""
           class="anuncio2">

    </div>
    <div class="col-sm 12">
      <img src="https://www.mrbooks.com/web/piezas/shadow-l.png" alt="">
    </div>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-libro [titulo]="'Rehenes'"
                 [autor]="'Miguel de Cervantez'"
                 [precio]="23"
                 [idioma]="'ingles'"
                 [srcText]="'https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/926/REHENES.jpg'">

      </app-libro>
    </div>
    <div class="col-sm-3">
      <app-libro [titulo]="'La Trenza Laetitia Colobani'"
                 [autor]="'Joselo'"
                 [precio]="58"
                 [idioma]="'ingles'"

                 [srcText]="'https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/964/9788498388800.jpg'">

      </app-libro>
    </div>
    <div class="col-sm-3">
      <app-libro [titulo]="'Primero es ella'"
                 [autor]="'Joselo Pepe'"
                 [precio]="26"
                 [idioma]="'Español'"
                 [srcText]="'https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/985/9789942359599.jpg'">

      </app-libro>
    </div>
    <div class="col-sm-3">
      <app-libro [titulo]="'Thanos, La revelación del infinito'"
                 [autor]="'Armando'"
                 [precio]="58"
                 [idioma]="'ingles'"
                 [srcText]="'https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/980/9788490947661.jpg'">

      </app-libro>
    </div>


  </div>


</div>

<div class="containere">

  <div class="row">
    <div class="col-sm-6">

      <img
        src="https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/979/MatrizDatos_1555959736haruki%20patricio%20pron%20pequeno.jpg"
        alt="">
    </div>
    <div class="col-sm-6">
      <img
        src="https://www.mrbooks.com/dct/tmp_adjuntos/noEn/000/979/MatrizDatos_1555956739Alberto%20Villarreal%20BANNER%20WEB.jpg"
        alt="">


    </div>

  </div>

</div>
