<!--The content below is only a placeholder and can be replaced.-->


<label for="id">
  ID
</label>
<input id="id" type="text">
<button (click)="crear()" >CREAR</button>
<button (click)="buscarPorId()" >BUSCAR POR ID</button>
<button (click)="buscarTodos()" >BUSCAR TODOS</button>
<button (click)="actualizar()" >ACTUALIZAR</button>
<button (click)="borrar()" >BORRAR</button>



<div style="text-align:center">
  <img width="300" alt= "Angular Logo" src="http://localhost:1337/descargarArchivo/1">

</div>
<a href="http://localhost:1337/descargarArchivo/1" target="_blank">Descargar</a>


<input type="file" name="imagen"
       id="imagen"
       hidden="true"
       type="file" name="imagen"
       placeholder="Seleccionar archivo"
       (change)=seleccionarArchivo($event)>
<label for="imagen" class="boton">Subir imagen</label>

<h2>Nombre Archivo: {{archivo?.name}}</h2>
<button (click)="enviarArchivo()">Enviaar Archivo</button>

<router-outlet></router-outlet>

