

<!--
<h1 class="rojo">Titulo {{title}}</h1>
<!-- {{interpolacion}}




<pre>
  {{_carritoService.carritoCompras | json}}



</pre>
<button (click)="Mostrar(true)" >Mostrar</button>
<button (click)="Mostrar(false)" >Ocultar</button>

<div

*ngIf="estaMostrando"

>

  <!--[hidden] = "!estaMostrando"



<app-item-galeria

  *ngFor="let perroJson of arregloPerrosJs"
  [nombreItem]="perroJson.raza"
  [titulo]="perroJson.titulo"
  [textoBoton]="perroJson.tamanio"
  (cambioChela)="cambioChela($event) "
  (cambioCerveza)="cambioCerveza($event)"
  [colorClase]="colorCambio"
  [notas] = perroJson.notas

>

</app-item-galeria>
</div>
-->

<div class="contenedor">

<div class="row">
  <div class="col-sm-3">asdasd</div>
  <div class="col-sm-6">

    <div class="item-menu texto-derecha">Menu</div>
    <div class="item-menu texto-derecha">Pelis</div>
    <div class="item-menu texto-derecha">Estrenos</div>
    <div class="item-menu texto-derecha">Mas</div>
    <div class="item-menu texto-derecha">Menps</div>
    <div class="item-menu texto-derecha">Hi</div>


  </div>

  <div class="col-sm-3">asd</div>


</div>
















  <div class="row">






    <div class="col-sm-1">1</div>
    <div class="col-sm-1">2</div>
    <div class="col-sm-1">3</div>
    <div class="col-sm-1">4</div>
    <div class="col-sm-1">5</div>
    <div class="col-sm-1">6</div>
    <div class="col-sm-1">7</div>
    <div class="col-sm-1">8</div>
    <div class="col-sm-1">9</div>
    <div class="col-sm-1">10</div>
    <div class="col-sm-1">11</div>
    <div class="col-sm-1">12</div>
    <div class="col-sm-1">1</div>
    <div class="col-sm-1">2</div>
    <div class="col-sm-1">3</div>
    <div class="col-sm-1">4</div>
    <div class="col-sm-1">5</div>
    <div class="col-sm-1">6</div>
    <div class="col-sm-1">7</div>
    <div class="col-sm-1">8</div>
    <div class="col-sm-1">9</div>
    <div class="col-sm-1">10</div>
    <div class="col-sm-1">11</div>
    <div class="col-sm-1">12</div>

  </div>
  <div class="row">
2
  </div>
  <div class="row">
3
  </div>
  <div class="row">
4
  </div>



</div>


